@import "~bootstrap-icons/font/bootstrap-icons.css";

.title {
	font-size: 6.25rem;
	letter-spacing: -0.04em;
	line-height: 1.2;
	font-weight: 700;
	margin: 0;
}

.subtitle {
	line-height: 1.75rem;
	font-size: 1.125rem;
	text-align: center;
	font-weight: normal;
	margin: 0;
}
